div.menu {
    position: fixed;

    top:  0;
    left: 50%;

   
    width: 700px;
    
    text-align: center;
    margin-left: -350px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: green;
    border-radius: 1000px / 50%;
    border-width: 10px;

    opacity: 0.85;
   
    border-color: black;
    border-style: solid;
    border-width: 4px;
     
}

div.menu a {
   margin-left: 5px;
   margin-right: 5px;
   color: red;
   text-decoration: none;
   font-size: 25px;
   font-family: Consolas;
}

div.footer {
    position: fixed;
    
    width: 900px;
    
    margin-left: -450px;
    left: 50%;
    bottom: 0px;
    
    
    background-color: green;
    border-color: black;
    border-style: solid;
}


div.wrapper{
    position: static;
    z-index: -1;
    content: '';
     width: 100%; 
    height: 100%; 
    background: #F7EDC6 url(../images/dots.png) right no-repeat;
    opacity: 0.5;
    
}

div.body {
    width: 900px ;
    position: relative;
    
    
    
    margin-top: 70px;
    margin-left: auto ;
    margin-right: auto ;
    

    background-image:url(../imges/background-body.jpg);
    background-size: cover;
    border-color: black;
    border-style: groove;
}