html {
	/*poza cu mainile in aer*/
    -webkit-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/img_background.jpg);
    -moz-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/img_background.jpg);
    -o-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/img_background.jpg);
    background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/img_background.jpg);
    
    /*poza cu pizda*/
    /*-webkit-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/background-body.jpg);
    -moz-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/background-body.jpg);
    -o-background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/background-body.jpg);
    background: url(../images/dots.png), rgba(0, 0, 0, 1) url(../images/background-body.jpg);*/
    
    -webkit-background-repeat: no-repeat, no-repeat;
    -moz-background-repeat: no-repeat, no-repeat;
    -o-background-repeat: no-repeat, no-repeat;
    background-repeat: no-repeat, no-repeat;
    
    -webkit-background-attachment: fixed, fixed;
    -moz-background-attachment: fixed, fixed;
    -o-background-attachment: fixed, fixed;
    background-attachment: fixed, fixed;
    
    -webkit-background-position:  center, center;
    -moz-background-position:  center, center;
    -o-background-position:  center, center;
    background-position:  center, center;
    
    
    
    
    -webkit-background-size:  cover, cover;
	-moz-background-size: cover, cover;
	-o-background-size: cover, cover;
	background-size:  cover, cover;
}

div.navbar-fixed-bottom , div.navbar-fixed-bottom > *{
    margin: 0px;
    padding: 0px;
    min-height: 30px;
    height: 30px;
    line-height: 0px;
}
body {
    background: transparent;
	padding-top: 60px;
    padding-bottom: 60px;
  
}
.jumbotron {
    background: rgba(255, 0, 0, 0.3);


    border-width: 2px;
    border-style: solid;
    border-color: Gold;
    color: Gold;
    
    padding-bottom: 5px;
    padding-top: 5px;
}
.opac_background {
    background: rgba(255, 255, 255, 0.4);
}

img.event {
}